body,
.card-body,
.card,
.form-text,
.form-text::placeholder {
  background-image: url(../img/leaves.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: "Barlow Condensed", sans-serif;
  color: #fff;
}

.card {
  border: 2px solid #fff;
  width: 50%;
  margin-top: 100px;
  padding: 20px;
  box-shadow: 5px 5px 5px rgb(235, 227, 227);
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}

.form-text {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 5px 10px;
  margin-bottom: 15px;
  color: #fff;
}

.form-text:focus {
  outline-color: rgb(180, 233, 170);
}

.fas {
  color: #fff;
}

.fas:hover {
  color: rgb(81, 226, 137);
}

.daily-forecast {
  border: 1px solid #fff;
  margin-right: 15px;
  padding: 20px 15px;
  border-radius: 4px;
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 10px;
}

footer a {
  color: rgb(180, 233, 170);
}

@media only screen and (max-width: 992px) {
  body {
    padding: 25px;
  }

  .card {
    width: 100%;
    margin: 0px;
  }

  .location {
    display: none;
  }

  .daily-forecast {
    margin-bottom: 20px;
  }

  .icon {
    display: none;
  }
}
